.bdiv{
    

}

.big1{
 border: 1px solid blue;
 background-color: blueviolet;
 width: 80%;
 height: 50px;
 margin: auto;
 position: sticky;
 top: 0;

}
.big2{
 border: 1px solid blue;
 width: 80%;
 height: 300px;
 margin: auto;

}
.big3{
 border: 1px solid blue;
 width: 80%;
 height: 400px;
 margin: auto;

}
.big4{
 border: 1px solid blue;
 width: 80%;
 height: 250px;
 margin: auto;

}
.big5{
 border: 1px solid blue;
 width: 80%;
 height: 250px;
 margin: auto;

}
.big6{
 border: 1px solid blue;
 width: 80%;
 height: 250px;
 margin: auto;
}